<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <style>
        .trending {
            height: 340px;
        }

        .choiceBtn {
            border-radius: 30px; border: 1px solid black; width: 50%; height: 100%; float: left;
            text-align: center; line-height: 35px; font-size: 15px; background: #0e0e3f; color: white;
        }

        .notChoiceBtn {
            border-radius: 30px; width: 50%; height: 100%; float: left;
            text-align: center; line-height: 35px; font-size: 15px;
        }
    </style>

    <script>
        function changeTrending(type)
        {
            var otherType = '';
            if(type == 'today') otherType = 'week';
            else otherType = 'today';

            document.getElementById(type+"Btn").classList.remove('notChoiceBtn');
            document.getElementById(type+"Btn").classList.add('choiceBtn');
            document.getElementById(type).style.display = "";
            document.getElementById(otherType+"Btn").classList.remove('choiceBtn');
            document.getElementById(otherType+"Btn").classList.add('notChoiceBtn');
            document.getElementById(otherType).style.display = "none";
        }
    </script>
</head>
<body>
<!-- Page Content-->
<div class="container px-4 px-lg-5" layout:fragment="content">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                                   src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..."/></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Business Name or Tagline</h1>
            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it
                makes a great use of the standard Bootstrap core components. Feel free to use this template for any
                project you want!</p>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
    </div>

    <div style="float:left; margin-right: 15px;"><h2>트렌딩</h2></div>
    <div style="border-radius: 30px; border: 1px solid black; width: 250px; height: 40px; margin-bottom: 20px; float:left;">
        <div id="todayBtn" class="choiceBtn" onclick="changeTrending('today')">
            <span> 오늘 </span>
        </div>
        <div id="weekBtn" class="notChoiceBtn" onclick="changeTrending('week')">
            <span> 이번 주 </span>
        </div>
    </div>

    <div id="today" style="float:left;">
    <div class="row gx-4 gx-lg-10">
        <div class="col-md-2 mb-5">
            <div class="card h-80">
                <div class="card-body">
                    <img style="width: 100%;"
                         th:src="'https://image.tmdb.org/t/p/original' + ${movie_today.results[0].poster_path}">
                    <hr>
                    <span class="card-title">[[${movie_today.results[0].title}]]</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-5">
            <div class="card h-80">
                <div class="card-body trending">
                    <img style="width: 100%;"
                         th:src="'https://image.tmdb.org/t/p/original' + ${movie_today.results[1].poster_path}">
                    <hr>
                    <span class="card-title">[[${movie_today.results[1].title}]]</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-5">
            <div class="card h-80">
                <div class="card-body trending">
                    <img style="width: 100%;"
                         th:src="'https://image.tmdb.org/t/p/original' + ${movie_today.results[2].poster_path}">
                    <hr>
                    <span class="card-title">[[${movie_today.results[2].title}]]</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-5">
            <div class="card h-80">
                <div class="card-body trending">
                    <img style="width: 100%;"
                         th:src="'https://image.tmdb.org/t/p/original' + ${movie_today.results[3].poster_path}">
                    <hr>
                    <span class="card-title">[[${movie_today.results[3].title}]]</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-5">
            <div class="card h-80">
                <div class="card-body trending">
                    <img style="width: 100%;"
                         th:src="'https://image.tmdb.org/t/p/original' + ${movie_today.results[4].poster_path}">
                    <hr>
                    <span class="card-title">[[${movie_today.results[4].title}]]</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-5">
            <div class="card h-80">
                <div class="card-body trending">
                    <img style="width: 100%;"
                         th:src="'https://image.tmdb.org/t/p/original' + ${movie_today.results[5].poster_path}">
                    <hr>
                    <span class="card-title">[[${movie_today.results[5].title}]]</span>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="week" style="float:left; display: none;">
        <div class="row gx-4 gx-lg-10">
            <div class="col-md-2 mb-5">
                <div class="card h-80">
                    <div class="card-body">
                        <img style="width: 100%;"
                             th:src="'https://image.tmdb.org/t/p/original' + ${movie_week.results[0].poster_path}">
                        <hr>
                        <span class="card-title">[[${movie_week.results[0].title}]]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-5">
                <div class="card h-80">
                    <div class="card-body trending">
                        <img style="width: 100%;"
                             th:src="'https://image.tmdb.org/t/p/original' + ${movie_week.results[1].poster_path}">
                        <hr>
                        <span class="card-title">[[${movie_week.results[1].title}]]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-5">
                <div class="card h-80">
                    <div class="card-body trending">
                        <img style="width: 100%;"
                             th:src="'https://image.tmdb.org/t/p/original' + ${movie_week.results[2].poster_path}">
                        <hr>
                        <span class="card-title">[[${movie_week.results[2].title}]]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-5">
                <div class="card h-80">
                    <div class="card-body trending">
                        <img style="width: 100%;"
                             th:src="'https://image.tmdb.org/t/p/original' + ${movie_week.results[3].poster_path}">
                        <hr>
                        <span class="card-title">[[${movie_week.results[3].title}]]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-5">
                <div class="card h-80">
                    <div class="card-body trending">
                        <img style="width: 100%;"
                             th:src="'https://image.tmdb.org/t/p/original' + ${movie_week.results[4].poster_path}">
                        <hr>
                        <span class="card-title">[[${movie_week.results[4].title}]]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-5">
                <div class="card h-80">
                    <div class="card-body trending">
                        <img style="width: 100%;"
                             th:src="'https://image.tmdb.org/t/p/original' + ${movie_week.results[5].poster_path}">
                        <hr>
                        <span class="card-title">[[${movie_week.results[5].title}]]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="float:left; margin-right: 15px; margin-bottom: 20px;"><h2>개봉 예정</h2></div>

    <div class="row gx-4 gx-lg-5" style="float:left;">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <img style="width: 100%;"
                         th:src="'https://image.tmdb.org/t/p/original' + ${movie_upcoming.results[0].poster_path}">
                    <hr>
                    <h2 class="card-title">[[${movie_upcoming.results[0].title}]]</h2>
                    <p class="card-text" style="font-weight: bold">[[${movie_upcoming.results[0].release_date}]]</p>
                    <p class="card-text">[[${#strings.abbreviate(movie_upcoming.results[0].overview,100)}]]</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <img style="width: 100%;"
                         th:src="'https://image.tmdb.org/t/p/original' + ${movie_upcoming.results[1].poster_path}">
                    <hr>
                    <h2 class="card-title">[[${movie_upcoming.results[1].title}]]</h2>
                    <p class="card-text" style="font-weight: bold">[[${movie_upcoming.results[1].release_date}]]</p>
                    <p class="card-text">[[${#strings.abbreviate(movie_upcoming.results[1].overview,100)}]]</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <img style="width: 100%;"
                         th:src="'https://image.tmdb.org/t/p/original' + ${movie_upcoming.results[2].poster_path}">
                    <hr>
                    <h2 class="card-title">[[${movie_upcoming.results[2].title}]]</h2>
                    <p class="card-text" style="font-weight: bold">[[${movie_upcoming.results[2].release_date}]]</p>
                    <p class="card-text">[[${#strings.abbreviate(movie_upcoming.results[2].overview,100)}]]</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>

    <div id="test"style="float:left;display:none;">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <img style="width: 100%;"
                         th:src="'https://image.tmdb.org/t/p/original' + ${movie_week.results[0].poster_path}">
                    <hr>
                    <h2 class="card-title">[[${movie_week.results[0].title}]]</h2>
                    <p class="card-text">[[${#strings.abbreviate(movie_week.results[0].overview,100)}]]</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <img style="width: 100%;"
                         th:src="'https://image.tmdb.org/t/p/original' + ${movie_week.results[1].poster_path}">
                    <hr>
                    <h2 class="card-title">[[${movie_week.results[1].title}]]</h2>
                    <p class="card-text">[[${#strings.abbreviate(movie_week.results[1].overview,100)}]]</p></div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <img style="width: 100%;"
                         th:src="'https://image.tmdb.org/t/p/original' + ${movie_week.results[2].poster_path}">
                    <hr>
                    <h2 class="card-title">[[${movie_week.results[2].title}]]</h2>
                    <p class="card-text">[[${#strings.abbreviate(movie_week.results[2].overview,100)}]]</p></div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
    </div>

    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some
            important information or display a clever tagline!</p></div>
    </div>
</div>
</body>
</html>
